// Colors
$grey: #333333;
$white: white;
$light-blue: #b5d0e2;
$blue: #2099e8;

// Navigation Variables
$nav-bg: $grey;
$nav-text-color: $white;

// Clock Variables
$clock-text-color: $white;
$clock-bg-color: $light-blue;
$clock-border-color: #2099e8;